@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root{
    --primary-color: #FEEC7E;
    --card-background-color: rgba(254, 236, 126, 0.4);
    --link-color: #3C65FD;
}

html{
    font-family: "Inknut Antiqua", serif;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
}