@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --primary-color: #FEEC7E;
    --card-background-color: rgba(254, 236, 126, 0.4);
    --link-color: #3C65FD;
    --hover-color: #847818;
    --active-color: #3A3405;
}

html {
    height: 100vh;
    font-family: "Inknut Antiqua", serif;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

body {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 20px;
}